click
folium
geojson_pydantic
geopandas
ipykernel
ipython
ipywidgets
jupyter-cache
jupyter-client
matplotlib
pandas
planetary_computer
pre-commit
pyproj
pystac
pystac_client
rasterio
requests
shapely
stackstac
xarray